$color-theme-primary: #7fad39;
$color-text: #666666;

.link-normal {
  color: $color-text;

  &:hover {
    color: $color-theme-primary;
  }
}

.blog__item__pic img {
  height: auto;
}

.blog__details__text img {
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.blog-details-hero {
  height: 200px;
}
