@use "colors" as *;
@use "woocommerce";

.link-normal {
  color: $color-text;

  &:hover {
    color: $color-theme-primary;
  }
}

.blog__item__pic img {
  height: auto;
}

.blog__details__text img {
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.blog-details-hero {
  height: 200px;
}

.breadcrumb__text {
  h2 {
    color: $color-000000;
  }
}
.breadcrumb__option {
  a {
    color: $color-000000;

    &::after {
      right: -18px;
      background: $color-000000;
    }
  }

  span {
    color: $color-000000;
  }
}

#preloader {
  .loader::before {
    display: none;
  }
}

a {
  color: $color-theme-primary;

  &:hover {
    color: lighten($color-theme-primary, 20%);
  }
}

.nice-select .list {
  overflow-y: auto;
  max-height: 300px;
}
